.vs/
bin/
obj/

# Treat C# files as the primary language
*.cs linguist-detectable=true

# Ignore certain file types or directories
*.css linguist-vendored
*.map linguist-vendored
*.js linguist-vendored
*.json linguist-vendored
wwwroot/* linguist-vendored
